%raleway-300 {
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}

%raleway-500 {
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}

%raleway-700 {
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

%ibm-plex-sans {
  font-weight: 300;
  font-family: 'IBM Plex Sans', sans-serif;
}

%roboto-400 {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

$darkTheme_backgroundPage: #23272e;
$darkTheme_colorItems: #eaeaea;