%raleway-300 {
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}

%raleway-500 {
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}

%raleway-700 {
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

%ibm-plex-sans-300 {
  font-weight: 300;
  font-family: 'IBM Plex Sans', sans-serif;
}

%roboto-400 {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

%roboto-300 {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

// Dark theme
$darkTheme_backgroundPage: #23272e;
$darkTheme_colorItems: #eaeaea;
$darkTheme_backgroundHeader: rgba(35,39,46, .6);
$darkTheme_colorHeaderLinks: #ffffff;
$darkTheme_colorHoverHeaderLinks: #318ce7;
$darkTheme_colorHeaderLogo: #ffffff;
$darkTheme_backgroundAuthInput: #15181c;
$darkTheme_colorAuthInput: #eaeaea;
$darkTheme_backgroundAuthSubmit: linear-gradient(75deg, #f66e26, #9450a2);
$darkTheme_colorAuthSubmit: #eaeaea;
$darkTheme_colorAuthAdditionallyLink: #45bae1;
$darkTheme_backgroundAlert: rgba(21,24,28, .7);
$darkTheme_colorAlertDesc: #ffffff;
$darkTheme_colorAlertSuccess: #50c878;
$darkTheme_colorAlertError: #bb3e3e;
$darkTheme_colorAlertInfo: #318ce7;
$darkTheme_colorAlertWarning: #ffdb00;
$darkTheme_backgroundCreateBtn: #318ce7;
$darkTheme_colorCreateBtn: #ffffff;
$darkTheme_backgroundPost: #1e2227;
$darkTheme_colorMessagePost: #c2c2c2;
$darkTheme_borderColorPost: #4b5662;
$darkTheme_colorDisabledLikePost: #c2c2c2;
$darkTheme_backgroundLikePost: #101215;
$darkTheme_backgroundLikeActivePost: #bb3e3e;
$darkTheme_colorLikeActivePost: #ffffff;
$darkTheme_backgroundCountLikePost: #ffffff;
$darkTheme_colorCountLikePost: #bb3e3e;
$darkTheme_colorEditPost: #318ce7;
$darkTheme_backgroundBlockImagePost: #000000;
$darkTheme_backgroundInputFormCreate: #101215;
$darkTheme_colorInputFormCreate: #ffffff;
$darkTheme_colorPlaceholderInputFormCreate: #899ab4;
$darkTheme_boxShadowActiveInput: rgba(16,18,21, .4) 0px 8px 24px;
$darkTheme_borderColorAreaFile: #899ab4;
$darkTheme_colorDisabledFile: #c2c2c2;
$darkTheme_colorSuccessFile: #ffffff;
$darkTheme_borderColorSuccessFile: #50c878;
$darkTheme_backgroundSubmitFromCreate: #318ce7;
$darkTheme_colorSubmitFromCreate: #ffffff;
$darkTheme_backgroundRemoveButton: #000000;
$darkTheme_colorRemoveButton: #ffffff;
$darkTheme_backgroundAreaFileName: rgba(0, 0, 0, .6);
$darkTheme_backgroundHeaderUserPage: linear-gradient(to bottom, transparent, #17191e);
$darkTheme_colorLinksNavbarUserPage: #c2c2c2;
$darkTheme_backgroundActiveLinksNavbarUserPage: #318ce7;
$darkTheme_colorActiveLinksNavbarUserPage: #ffffff;
$darkTheme_backgroundEvenColUserInfo: #383f49;
$darkTheme_colorDescColUserInfo: #318ce7;
$darkTheme_backgroundInputSettingsUser: #383f49;
$darkTheme_colorInputSettingsUser: #ffffff;
$darkTheme_colorPlaceholderInputSettingsUser: #c2c2c2;
$darkTheme_backgroundFocusInputSettingsUser: #343a44;
$darkTheme_backgroundSubmitSettingsUser: #50c878;
$darkTheme_colorSubmitSettingsUser: #ffffff;
$darkTheme_backgroundMainUserPage: linear-gradient(to top, transparent, #17191e);
$darkTheme_boxShadowAvatarHeader: rgba(16,18,21, .4) 0px 8px 24px;
$darkTheme_backgroundSubmenuHeader: #17191e;
$darkTheme_colorLinksSubmenuHeader: #ffffff;
$darkTheme_backgroundActiveLinksSubmenuHeader: #000000;
$darkTheme_colorShowAlsoBtn: #318ce7;
$darkTheme_backgroundShowFullArea: linear-gradient(to bottom, transparent, $darkTheme_backgroundPost);
$darkTheme_colorRemovePost: #e10000;
$darkTheme_colorUserFormSubtitle: #318ce7;
$darkTheme_backgroundRadioDots: #318ce7;
$darkTheme_colorBorderRadioDots: #ffffff;

// Light theme
$lightTheme_backgroundPage: #ffffff;
$lightTheme_colorItems: #000000;
$lightTheme_backgroundHeader: rgba(255,255,255, .6);
$lightTheme_colorHeaderLinks: #000000;
$lightTheme_colorHoverHeaderLinks: #318ce7;
$lightTheme_colorHeaderLogo: #222222;
$lightTheme_backgroundAuthInput: #eaeaea;
$lightTheme_colorAuthInput: #000000;
$lightTheme_backgroundAuthSubmit: linear-gradient(75deg, #f66e26, #9450a2);
$lightTheme_colorAuthSubmit: #ffffff;
$lightTheme_colorAuthAdditionallyLink: #45bae1;
$lightTheme_backgroundAlert: rgba(255,255,255, .7);
$lightTheme_colorAlertDesc: #000000;
$lightTheme_colorAlertSuccess: #50c878;
$lightTheme_colorAlertError: #bb3e3e;
$lightTheme_colorAlertInfo: #318ce7;
$lightTheme_colorAlertWarning: #ffdb00;
$lightTheme_backgroundCreateBtn: #318ce7;
$lightTheme_colorCreateBtn: #ffffff;
$lightTheme_backgroundPost: #e9e9e9;
$lightTheme_colorMessagePost: #222222;
$lightTheme_borderColorPost: #ffffffcc;
$lightTheme_colorDisabledLikePost: #000000;
$lightTheme_backgroundLikePost: #c2c2c2;
$lightTheme_backgroundLikeActivePost: #bb3e3e;
$lightTheme_colorLikeActivePost: #ffffff;
$lightTheme_backgroundCountLikePost: #ffffff;
$lightTheme_colorCountLikePost: #bb3e3e;
$lightTheme_colorEditPost: #318ce7;
$lightTheme_backgroundBlockImagePost: grey;
$lightTheme_backgroundInputFormCreate: #eaeaea;
$lightTheme_colorInputFormCreate: #222222;
$lightTheme_colorPlaceholderInputFormCreate: #222222ca;
$lightTheme_boxShadowActiveInput: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$lightTheme_borderColorAreaFile: #222222;
$lightTheme_colorDisabledFile: #222222ca;
$lightTheme_colorSuccessFile: #000000;
$lightTheme_borderColorSuccessFile: #50c878;
$lightTheme_backgroundSubmitFromCreate: #318ce7;
$lightTheme_colorSubmitFromCreate: #ffffff;
$lightTheme_backgroundRemoveButton: #ffffff;
$lightTheme_colorRemoveButton: #000000;
$lightTheme_backgroundAreaFileName: rgba(255, 255, 255, .6);
$lightTheme_backgroundHeaderUserPage: linear-gradient(to bottom, transparent, #e2e2e2);
$lightTheme_colorLinksNavbarUserPage: #222222ca;
$lightTheme_backgroundActiveLinksNavbarUserPage: #318ce7;
$lightTheme_colorActiveLinksNavbarUserPage: #000000;
$lightTheme_backgroundEvenColUserInfo: #ffffff;
$lightTheme_colorDescColUserInfo: #318ce7;
$lightTheme_backgroundInputSettingsUser: #fbfbfb;
$lightTheme_colorInputSettingsUser: #000000;
$lightTheme_colorPlaceholderInputSettingsUser: #222222ca;
$lightTheme_backgroundFocusInputSettingsUser: #ffffff;
$lightTheme_backgroundSubmitSettingsUser: #50c878;
$lightTheme_colorSubmitSettingsUser: #ffffff;
$lightTheme_backgroundMainUserPage: linear-gradient(to top, transparent, #e2e2e2);
$lightTheme_boxShadowAvatarHeader: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$lightTheme_backgroundSubmenuHeader: #ececec;
$lightTheme_colorLinksSubmenuHeader: #222222;
$lightTheme_backgroundActiveLinksSubmenuHeader: #c2c2c2;
$lightTheme_colorShowAlsoBtn: #318ce7;
$lightTheme_backgroundShowFullArea: linear-gradient(to bottom, transparent, $lightTheme_backgroundPost);
$lightTheme_colorRemovePost: #e10000;
$lightTheme_colorUserFormSubtitle: #318ce7;
$lightTheme_backgroundRadioDots: #318ce7;
$lightTheme_colorBorderRadioDots: #000000;

// Other
$minHeightHeader: 80px;
$invalid: #e10000;
$valid: #50c878;