@import "./_global";

.header {
  padding: 10px 0;
  min-height: $minHeightHeader;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  &__logo {
    text-transform: uppercase;
    opacity: .8;
    font-size: calc(17px + 15 * (100vw / 1280));
    transition: opacity, letter-spacing, .4s;

    &:hover {
      opacity: 1;
      letter-spacing: 2px;
    }
  }

  &__nav {
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    align-items: center;
    padding-left: 25px;

    &-submenu {
      position: absolute;
      bottom: -120%;
      right: 0;
      width: 150px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      z-index: 9999999;
      padding: 10px;
      visibility: hidden;
      opacity: 0;
      transition: visibility, opacity, .4s;

      &--show {
        visibility: visible;
        opacity: 1;
      }

      &::before {
        content: "";
        position: absolute;
        top: -5px;
        width: 20px;
        height: 20px;
        transform: rotateZ(45deg);
        right: 8px;
        z-index: -1;
      }

      &-item {
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }

      &-logout {
        cursor: pointer;
        margin: 10px auto 0;
        border: none;
        background: none;
        color: $invalid;
        font-size: 14px;
        @extend %roboto-300;
      }

      &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        border-radius: 8px;
        @extend %roboto-300;
        font-size: 14px;
        width: 100%;
      }
    }

    &-create {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-radius: 8px;
      font-size: 14px;
    }

    &-item {
      &:not(:last-child) {
        margin-right: 20px;
      }

      &-avatar {
        position: relative;
      }
    }

    &-avatar-block {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      overflow: hidden;
      background-color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &-avatar {
      width: 40px;
      height: 40px;
    }

    &-link {
      @extend %raleway-500;

      &:not([class*=header__list-create]) {
        transition: color .4s;
      }
    }
  }
}

.auth {
  height: 100vh;

  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    @extend %raleway-500;
    font-size: calc(24px + 13 * (100vw / 1280));
  }

  &__additionally {
    &-desc {
      font-size: 15px;
      @extend %raleway-300;
    }

    &-link {
      @extend %raleway-500;
    }
  }

  &__form {
    padding: 35px 0;
    width: 450px;
    display: flex;
    flex-direction: column;

    &-field {
      width: 100%;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-input {
      width: 100%;
      padding: 15px;
      border-radius: 8px;
      border: none;
      @extend %ibm-plex-sans-300;
    }

    &-submit {
      cursor: pointer;
      border-radius: 8px;
      padding: 12px 8px;
      border: none;
      @extend %roboto-400;
      width: 80%;
      margin: 0 auto;
    }

    &-valid-field {
      margin-left: 15px;
      min-width: 15px;
      min-height: 15px;
      border-radius: 50%;
      transition: background .4s;
      background: $valid;

      &--invalid {
        background: $invalid;
      }
    }
  }
}

.wall {
  display: flex;
  flex-direction: column;
  padding: 25px 0;

  &__block {
    &:not(:last-child) {
      padding-bottom: 25px;
    }
  }

  &__loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.posts {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
}

.post {
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  &:not(:last-child) {
    margin-bottom: 50px;
  }

  &__content-block {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__images {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;

    &--even {
      grid-template-columns: repeat(2, 1fr);
    }

    &--odd {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__user-info {
    display: flex;
    align-items: center;
  }

  &__date {
    font-size: 12px;
    opacity: .8;
    @extend %ibm-plex-sans-300;
  }

  &__title {
    @extend %roboto-400;
    font-size: calc(15px + 14 * (100vw / 1280));
    line-height: 35px;
  }

  &__message {
    line-height: 30px;
    font-size: calc(12px + 10 * (100vw / 1280));
    @extend %roboto-300;
    word-break: break-word;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
  }

  &__edit {
    background: none;
  }

  &__delete {
    background: none;
  }

  &__like {
    padding: 8px 10px;
    border-radius: 8px;
    transition: opacity, color, background, .5s;
    opacity: .8;
    white-space: nowrap;

    &:hover {
      opacity: 1;
    }

    &-count {
      display: inline-block;
      padding: 3px;
      border-radius: 8px;
      font-size: 13px;
    }
  }

  &__user {
    &-image {
      width: 40px;
      height: 40px;
    }

    &-image-block {
      background-color: #000000;
      max-width: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    &-name {
      padding-left: 10px;

      &-link {
        display: block;
        @extend %ibm-plex-sans-300;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-word;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__main {
    padding: 25px 15px;
  }

  &__footer {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-block {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  &__btn {
    cursor: pointer;
    border: none;
    font-size: calc(11px + 4 * (100vw / 1280));

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    overflow-x: auto;
  }
}

.title {
  @extend %raleway-700;
  padding-bottom: 25px;
  font-size: calc(22px + 20 * (100vw / 1280));
}

.alerts {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 10px;
  right: 10px;
  z-index: 99999999;
  padding: 10px;
}

.alert {
  transition: opacity, transform, .4s;
  width: 400px;
  animation: showTop .8s linear;
  position: relative;
  border-radius: 10px;
  overflow: hidden;

  &--hide {
    opacity: 0;
    transform: translateY(-15px);
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  &__title {
    padding-bottom: 10px;
    @extend %raleway-500;
    font-size: 16px;
  }

  &__desc {
    @extend %raleway-300;
    opacity: .8;
    font-size: 14px;
    line-height: 25px;
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.form-create {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;

  &__files {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-item {
      background-color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    &-name {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 999;
      padding: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-word;
      font-size: 12px;
    }

    &-remove {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 9999;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15px;
      height: 15px;
      border-radius: 10px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 60%;
        height: 1px;
      }

      &::after {
        transform: rotateZ(45deg);
      }

      &::before {
        transform: rotateZ(-45deg);
      }
    }

    &-image {
      max-width: 120px;
    }
  }

  &__field {
    &-center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-column-center {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__area-file {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
  }

  &__check-mark {
    margin-left: 10px;
  }

  &__file-text {
    font-size: 18px;
    @extend %ibm-plex-sans-300;
  }

  &__input {
    border: none;
    padding: 19px;
    font-size: 19px;
    border-radius: 8px;
    width: 100%;
    transition: box-shadow .4s;
    @extend %ibm-plex-sans-300;

    &-file {
      display: none;
    }

    &-message {
      resize: vertical;
      min-height: 120px;
    }
  }

  &__submit {
    cursor: pointer;
    border: none;
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 18px;
  }
}

.user-page {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;

    &-list {
      display: flex;
      align-items: center;

      &-link {
        @extend %raleway-500;
        font-size: calc(12px + 5 * (100vw / 1280));
        text-align: center;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 1px;
        }
      }
    }
  }

  &__info {
    padding: 25px;
    border-radius: 0 0 12px 12px;
    display: flex;
    align-items: center;

    &-avatar {
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #000000;
      max-width: 120px;
      margin-right: 25px;

      &-image {
        width: 120px;
        height: 120px;
      }
    }

    &-name {
      @extend %ibm-plex-sans-300;
      font-size: 28px;
    }

    &-email {
      @extend %roboto-300;
      font-size: 20px;
      opacity: .6;
      padding-top: 6px;
    }
  }

  &__main {
    padding: 25px;
    border-radius: 12px 12px 0 0;
  }

  &__tab {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    &-title {
      font-size: 22px;
      @extend %raleway-500;
    }

    &-desc {
      @extend %roboto-300;
      font-size: 17px;
      opacity: .8;
    }
  }
}

.user-info {
  &__col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  &__title {
    padding-right: 10px;
  }

  &__desc {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }

  &__title,
  &__desc {
    @extend %roboto-300;
    font-size: 16px;
  }
}

.user-form {
  display: flex;
  flex-direction: column;

  &__area-file {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    border-radius: 12px;
    cursor: pointer;
    max-width: 100%;
  }

  &__file {
    display: none;

    &-text {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      max-width: 100%;
      text-overflow: ellipsis;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;

    &-center {
      align-items: center;
      justify-content: center;
    }

    &-row-center {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &-title {
      font-size: 16px;
      padding-bottom: 10px;
      @extend %roboto-300;
    }
  }

  &__label-theme {
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__radio {
    display: none;

    &-text {
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      @extend %raleway-300;

      &::before {
        content: "";
        display: block;
        margin-right: 10px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
      }
    }
  }

  &__subtitle {
    padding-bottom: 25px;
    @extend %roboto-300;
    font-size: calc(12px + 5 * (100vw / 1280));
    text-transform: uppercase;
  }

  &__input {
    border-radius: 8px;
    border: none;
    padding: 15px;
    @extend %ibm-plex-sans-300;
    transition: background .4s;
  }

  &__submit {
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 8px;
  }
}

.show-full {
  position: relative;
  overflow: hidden;
  max-height: 100px;

  &--open {
    max-height: unset;
    overflow: visible;
  }

  &__area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__btn {
    cursor: pointer;
    border: none;
    background: none;
    opacity: .8;
    transition: opacity .4s;

    &:hover {
      opacity: 1;
    }
  }
}

.user-delete {
  &__desc {
    padding: 10px 0 25px;
  }

  &__btn {
    cursor: pointer;
    border: none;
    background: none;
    color: $invalid;
    margin: 0 auto;
  }
}

.active-like {
  opacity: 1;
}

.show-also-btn {
  display: block;
  cursor: pointer;
  background: none;
  border-radius: 5px;
  padding: 10px;
  opacity: .8;
  @extend %roboto-300;
  margin: 0 auto;

  &:hover {
    opacity: 1;
  }
}

.error {
  height: 100vh;

  &__inner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__center {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  &__title {
    font-size: 65px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    @extend %roboto-400;
  }

  &__subtitle {
    font-size: 20px;
    @extend %roboto-300;
  }
}

.preloader {
  width: 60px;
  height: 60px;
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loading .6s ease-in-out infinite;

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }

  &::before {
    width: 100%;
    height: 100%;
  }

  &::after {
    width: 90%;
    height: 90%;
  }
}

.hamburger {
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 999999999;
  width: 30px;
  height: 14px;
  display: none;
  flex-direction: column;
  cursor: pointer;
  background: none;
  border: none;

  &--active {
    .hamburger__line {
      &-top {
        transform: translateY(7px) rotateZ(45deg);
      }

      &-middle {
        opacity: 0;
      }

      &-bottom {
        transform: translateY(7px) rotateZ(-45deg);
      }
    }
  }

  &__line {
    position: absolute;
    width: 100%;
    height: 1.5px;
    transition: transform, opacity, ease-in-out, .3s;

    &-top {
      transform: translateY(0) rotateZ(0);
    }

    &-middle {
      transform: translateY(7px);
    }

    &-bottom {
      transform: translateY(14px) rotateZ(0);
    }
  }
}

.page {
  padding-top: $minHeightHeader + 30px;
}

.invalid-bg {
  background: $invalid;
}

@keyframes showTop {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes loading {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(-360deg);
  }
}

@import "./_supports";
@import "./_media";